h1.heading {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: #333;
	font-size: 38px;
}

#carousel-main .carousel-item {
	z-index: -1;
	max-height: calc(100vh - 88px);
}

.card-image {
	padding: 0px 5%;
}

.container ul {
	list-style: outside;
}

.container ul li {
	margin-bottom: 6px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.card-lower {
	padding: 30px;
	padding-bottom: 6px;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
	border-bottom: 5px solid #34698c;
	position: relative;
	top: -60px;
	left: 50%;
	margin-left: -40%;
	background-color: #fff;
}

.card-lower h5 {
	font-weight: 500;
	font-size: 22px;
}

.nav-link {
	padding-left: 16px !Important;
	padding-right: 14px !Important;
}

.navbar-toggler.collapsed i {
	transform: rotate(0deg);
}

.navbar-toggler i {
	transform: rotate(90deg);
	font-size: 30px !Important;
	color: #34698c;
	vertical-align: middle;
}

.navbar-toggler span {
	font-size: 14px ;
	margin-right: 2px;
	color: #34698c;
	vertical-align: center;
}

.nav-link.active {
	background-color: #34698c;
	color: white;
	border-radius: 2px;
}

.mycarousel-caption {
    position: absolute;
    z-index: 10;
    padding: 1vw 2vw;
	opacity: 0;
}

.mycarousel-caption.white {
    background-color: #fff;
	color: #000;
	mix-blend-mode: screen;
}

.mycarousel-caption.black {
    background-color: #000;
	color: #fff;
	mix-blend-mode: multiply;
}

.mycarousel-caption.white:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 1.8vw solid black;
    border-left: 1.8vw solid transparent;
    width: 0;
}

.mycarousel-caption.white:after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-top: 1.8vw solid transparent;
    border-left: 1.8vw solid black;
    width: 0;
}

.mycarousel-caption.black:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 1.8vw solid white;
    border-left: 1.8vw solid transparent;
    width: 0;
}

.mycarousel-caption.black:after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-top: 1.8vw solid transparent;
    border-left: 1.8vw solid white;
    width: 0;
}

.mycarousel-caption h3 {
	margin: 0px;
	font-weight: 900;
}

.mycarousel-caption p {
	margin: 0px;
	margin-top: 3px;
}

.carousel-item.active .mycarousel-caption {
	opacity: 0.9;
	transition: 1s ease-in-out;
}

.c-leftbottom {
	left: 7%;
	bottom: 14%;
	text-align: left;
}

.carousel-item.active .c-leftbottom {
	left: 10%;
	transition: 1s ease-in-out;
}

.c-righttop {
	right: 8%;
	top: 10%;
	text-align: left;
}

.carousel-item.active .c-righttop {
	right: 10%;
	transition: 1s ease-in-out;
}

.c-rightbottom {
	right: 8%;
	bottom: 10%;
	text-align: left;
}

.carousel-item.active .c-rightbottom {
	right: 10%;
	transition: 1s ease-in-out;
}

.mycarousel-caption h3 {
	font-size: 3vw;
}

.mycarousel-caption p {
	font-size: 2vw;
}